
@media all and (min-width: 480px) {
.Resume form {
    padding: 15px;
  }
  
  .Resume form textarea {
    height: 200px;
    width: 50%;
    font-size: 24px;
  }


}
.Resumebtn {
	padding: 5px 10px;  
    border-radius:15px  5% / 20px ;
    white-space: nowrap;
    font-size: 14px;  
    border:2px solid #ffffff;    
    margin-right: 7px;
    top: 2px;
    float:left;

}

LoaderButton{
	float:left;
}
