
body {
	color:blue;
}

div h2{

  font-family: "ProximaNova", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
  font-size: 16px; 
  color:black; 
 
     
}

img .picture{
	border-radius:15px  5% / 20px ;
}