
body {
	color:#21618C;
}

div h2{

  font-family: "ProximaNova", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
  font-size: 22px; 
  color:#21618C; 
 
     
}

.picturetwo{
	border-radius:15px  ;
	width: 200px;
	hight:60%;
}